body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    background: #282c36;
    position: relative;
}

.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    animation: float 5s infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.input-data {
    margin-bottom: 15px;
    position: relative;
}

.input-data label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-data input[type="text"],
.input-data input[type="date"],
.input-data input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s;
}

.input-data input[type="text"]:focus,
.input-data input[type="date"]:focus,
.input-data input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
}

.input-data.role-selection {
    margin-bottom: 15px;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.radio-group label {
    margin-right: 15px;
}

#experience-container,
#faculty-group-container {
    display: none;
}

button[type="submit"] {
    background-color: rgba(255, 166, 0, 0.849);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: rgba(255, 198, 11, 0.753);
}

#error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}